In [4]:
import pandas as pd

## Membuka Dataset

In [5]:
df = pd.read_csv("movies.csv")

## Membuat Dictionary

In [6]:
info = {
    "Jumlah Record"    : df.shape[0],
    "Nama Attribute"   : df.columns.values,
    "Jumlah Attribute(Objek)" : df.select_dtypes(["object"]).columns,
    "Jumlah Attribute(Angka)" : df.select_dtypes(["float64","int64"]).columns,
    "Jumlah Attribute(Null)"  : df.loc[:, df.isnull().any()].columns,
}

## Jumlah record

In [7]:
print(" Jumlah Record = ", info['Jumlah Record'])

 Jumlah Record =  5000

## Nama attribute

In [8]:
print("\n Nama Attribute = ", info['Nama Attribute'])

 Nama Attribute =  ['poster' 'title' 'certificate' 'runtime' 'genre' 'rating' 'about'
 'director' 'stars' 'votes' 'gross_earn']

## Jumlah attribute dengan tipe objek

In [9]:
print("\n Jumlah Attribute(Objek) = ", len(info['Jumlah Attribute(Objek)']))

 Jumlah Attribute(Objek) =  10

## Jumlah attribute dengan tipe angka

In [10]:
print("\n Jumlah Attribute(Angka) = ", len(info['Jumlah Attribute(Angka)']))

 Jumlah Attribute(Angka) =  1

## Jumlah attribute yang memiliki nilai null.

In [11]:
print("\n Jumlah Attribute(Null) = ", len(info['Jumlah Attribute(Null)']))

 Jumlah Attribute(Null) =  3

## Rata-rata, Standar deviasi, Nilai minimum, Nilai maksimum, Q1, Q2, dan Q3
### Attribute bertipe angka.

In [12]:
df.describe()

            rating
count  5000.000000
mean      6.692300
std       0.973649
min       1.500000
25%       6.100000
50%       6.800000
75%       7.400000
max       9.300000

## Nilai korelasi

In [13]:
df.corr()

        rating
rating     1.0

## Mengubah Nilai Desimal Menjadi Bilangan Bulat

In [21]:
df.select_dtypes(["float64"])*1000

      rating
0     9300.0
1     9000.0
2     8800.0
3     8800.0
4     8900.0
...      ...
4995  7300.0
4996  5900.0
4997  8100.0
4998  7000.0
4999  7600.0

[5000 rows x 1 columns]

## 10 Record pertama dari attribute bertipe angka.

In [22]:
angka=df.select_dtypes(["float64"])
angka.head(10)

   rating
0     9.3
1     9.0
2     8.8
3     8.8
4     8.9
5     8.8
6     8.8
7     8.7
8     9.0
9     9.2

## Simpan dataset dengan attribute bertipe angka

In [68]:
df[{"rating"}].to_csv("Rating.csv")

C:\Users\gideo\AppData\Local\Temp\ipykernel_580\3311415310.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df[{"rating"}].to_csv("Rating.csv")